SIMPLE_AUTH_DEFAULT_METHOD=password
SIMPLE_AUTH_MAGIC_LINK_ENABLED=true
SIMPLE_AUTH_MAGIC_LINK_TTL=15
SIMPLE_AUTH_PASSWORD_ENABLED=true
SIMPLE_AUTH_REDIRECT_AFTER_LOGIN=/
SIMPLE_AUTH_REDIRECT_AFTER_LOGOUT=/
